@model GoalsProgressModel

@{
    ViewData["Title"] = "Home Page";
    ViewData["Title"] = "This is Matthew Mangold's personal website. It tracks my yearly goals as well as my accomplishments that I wish to make publicly available such as my progress in learning Japanese, Software Engineering, Chemistry, and achievements related to my own health.";
}




@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Bring in libraries from NuGet and npm, and automate tasks using Grunt or Gulp.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@

@*<div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

<h1>2019 Goals Status</h1>
<h2>Japanese</h2>
<h3>WaniKani progress</h3>
<p>
    I have been learning radicals, kanji, and vocab as <strong>@Model.UserInformation?.Username</strong> on WaniKani since <strong>@Model.UserInformation?.CreationDate.ToString("M") @Model.UserInformation?.CreationDate.Year</strong>.
    I am currently at level <strong>@Model.UserInformation?.Level out of 60</strong>.
</p>
<p>I should be able to identify <strong>@Model.Radicals?.Count radicals</strong>.</p>
<p>Kanji Progress</p>
@{
    decimal kanjiAboveApprentice = Model.Kanji?.Count() ?? 0;
    var kanjiProgress = Convert.ToInt32(Math.Floor(kanjiAboveApprentice / Model.TotalKanji * 100));
}

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: @kanjiProgress%;" aria-valuenow="@kanjiProgress" aria-valuemin="0" aria-valuemax="100">@kanjiProgress%</div>
    <span class="pull-right total">@Model.TotalKanji</span>
</div>
<div></div>
<p>I should be able to identify these <strong>@Model.Kanji?.Count kanji</strong>:</p>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseKanji" aria-expanded="false" aria-controls="collapseExample">
        Show Kanji
    </button>
</p>
<div class="collapse" id="collapseKanji">
    <div class="card card-body">
        @{
            var lastKanjiItem = Model.Kanji?.Last();
            foreach (var kanji in Model.Kanji?.OrderBy(k => k.UserInfo.UnlockedDate))
            {
                if (kanji.Equals(lastKanjiItem))
                {
                    <span>@kanji.Character.</span>
                }
                else
                {
                    <span>@kanji.Character, </span>
                }
            }
        }
    </div>
</div>

<p>Vocabulary Progression</p>
@{
    decimal vocabAboveApprentice = Model.Vocabulary?.Count() ?? 0;
    var vocabProgress = Convert.ToInt32(Math.Floor(vocabAboveApprentice / Model.TotalVocab * 100));
}

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: @vocabProgress%;" aria-valuenow="@vocabProgress" aria-valuemin="0" aria-valuemax="100">@vocabProgress%</div>
    <span class="pull-right total">@Model.TotalVocab</span>
</div>
<div></div>
<p>I should be able to identify these <strong>@Model.Vocabulary?.Count vocabulary items</strong>:</p>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseVocab" aria-expanded="false" aria-controls="collapseExample">
        Show Vocabulary
    </button>
</p>
<div class="collapse" id="collapseVocab">
    <div class="card card-body">
        @{
            var lastVocabularyItem = Model.Vocabulary?.Last();
            foreach (var vocab in Model.Vocabulary?.OrderBy(k => k.UserInfo.UnlockedDate))
            {
                if (vocab.Equals(lastVocabularyItem))
                {
                    <span>@vocab.Character.</span>
                }
                else
                {
                    <span>@vocab.Character, </span>
                }
            }
        }
    </div>
</div>

<h2>Weight Loss</h2>
<div class="chart-container" style="height: 400px; position: center; width: 800px">
    <canvas id="chartjs-0" class="chartjs" style="display: block"></canvas>
</div>

<script type="text/javascript">
    var weightsArray = [];
    var weightData = [];
    var timeData = [];

    @foreach (var weight in Model.SimpleWeights)
    {
        @:weightsArray.push({ 'x': @weight.DayOfYear, 'y': @weight.Weight });

        // @:weightsArray.push({ 'x': new Date(@weight.Date.Year, @weight.Date.Month, @weight.Date.Day, @weight.Date.Hour, @weight.Date.Minute, @weight.Date.Second), 'y': @weight.Weight });
        // @:weightData.push(new Date(@weight.Date.Year, @weight.Date.Month, @weight.Date.Day, @weight.Date.Hour, @weight.Date.Minute, @weight.Date.Second))
        @:timeData.push(@weight.DayOfYear);
        @:weightData.push(@weight.Weight);
    };

    var ctx = document.getElementById("weightChart").getContext('2d');
    var testChart = new Chart(document.getElementById("chartjs-0"),
        {
            "type": "line",
            "data": {
                "labels": timeData,
                "datasets": [
                    {
                        "data": weightData,
                        "fill": false,
                        "borderColor": "rgb(75, 192, 192)",
                        "lineTension": 0.1
                    }
                ]
            },
            "options": {
                "scales": {
                    "xAxes": [
                        {
                            "distribution": 'linear'
                        }
                    ],
                    "yAxes": [
                        {
                            "ticks": {
                                "suggestedMin": 160,
                                "suggestedMax": 220
                            }
                        }
                    ]
                },
            }
        });
    var myChart = new Chart(ctx,
        {
            type: 'line',
            data: weightsArray,
            responsive: false,

        });
    console.log(weightsArray);
    console.log(myChart);
</script>